@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
.container{
    height: 80px;
    max-width: 300px;
    min-width: 250px;
    background: black;
    border-radius: 15px;
}
.text{
    position: absolute;
    left: 20px;
    top: -5px;
    font-size: 25px;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    user-select: none;
}
