.Pic{
    width: 500px;
    height: 500px;
    background: white;
    border-radius: 50%;
}
.E{
    position: absolute;
    color: rgb(0, 0, 0);
    margin: 0;
    top: 170px;
    left: 120px;
    font-size: 100px;
    animation-duration: 15s;
    animation-name: logorot;
    animation-iteration-count: infinite;
    user-select: none;
    cursor: default;
}

@keyframes logorot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}