body{
  height: 200vh;
  background:linear-gradient(rgba(0, 10, 65, 0.5),transparent);
  background-color:rgb(2, 0, 19);
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(51, 51, 51); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(70, 0, 182); 
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #040042; 
}