body{
  height:100vh;
  width:100%;
  background:linear-gradient(#33004b,transparent);
  background-color:#11001a
}
.copyright{
  position: absolute;
  right: 1px;
  bottom: 1px;
  text-decoration: none;
  color: rgb(124, 124, 124);
}